$white: #fff;
$black: rgb(24, 24, 24);

$dodger-blue: #317bf6;
$denim: #165cd0;
$cornflower-blue: #6a9ff6;

$dusty-gray: #949494;
$nobel: #b3b3b3;
$dove-gray: #707070;

$energy-yello: #f7e455;
$marigold-yellow: #f7e773;
$ripe-lemon: #f4db25;

$coral-red: #ff3d44;
$geraldine: #fe8185;
$torch-red: #ff141d;

$harlequin: #4ded26;
$sulu: #8ef575;
$christi: #37ce12;

$viking: #4dcce0;
$riptide: #8ad9e5;
$scooter: #26b8cf;
