@import "./colors.scss";

$primary-main: $dodger-blue;
$primary-reverse: $white;
$primary-dark: $denim;
$primary-light: $cornflower-blue;

$secondary-main: $dusty-gray;
$secondary-reverse: $white;
$secondary-dark: $dove-gray;
$secondary-light: $nobel;

$success-main: $harlequin;
$success-reverse: $white;
$success-dark: $christi;
$success-light: $sulu;

$warning-main: $energy-yello;
$warning-reverse: $white;
$warning-dark: $ripe-lemon;
$warning-light: $marigold-yellow;

$danger-main: $coral-red;
$danger-reverse: $white;
$danger-dark: $torch-red;
$danger-light: $geraldine;

$info-main: $viking;
$info-reverse: $white;
$info-dark: $scooter;
$info-light: $riptide;
