@import "./colors.scss";

$primary-main: $dodger-blue;
$primary-reverse: $white;
$primary-dark: $denim;
$primary-light: $cornflower-blue;

$secondary-main: $dodger-blue;
$secondary-reverse: $white;
$secondary-dark: $denim;
$secondary-light: $cornflower-blue;

$success-main: $dodger-blue;
$success-reverse: $white;
$success-dark: $denim;
$success-light: $cornflower-blue;

$warning-main: $dodger-blue;
$warning-reverse: $white;
$warning-dark: $denim;
$warning-light: $cornflower-blue;

$danger-main: $dodger-blue;
$danger-reverse: $white;
$danger-dark: $denim;
$danger-light: $cornflower-blue;

$info-main: $dodger-blue;
$info-reverse: $white;
$info-dark: $denim;
$info-light: $cornflower-blue;
